# Google OAuth
GOG_REFRESH_TOKEN=
GOG_CLIENT_ID=
GOG_CLIENT_SECRET=

# Supabase
SUPABASE_URL=https://xdhsgbpiksurtowbwnok.supabase.co
SUPABASE_SERVICE_KEY=

# Google Sheets
SHEET_ID=1YHlD139TWtKctDMwbhU4BWg87YVdn8ZYv7NPbPjGnik
GOG_ACCOUNT=rosepe94oclaw@gmail.com
